@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap");

.loading-animation {
  grid-row: 2;

  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-dark {
  min-height: 100vh;
  min-width: 100vw;

  max-width: 100vw;
  display: grid;
  grid-template-rows: 10rem auto;

  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.toggle-theme-button-dark {
  position: absolute;
  left: 50px;
  top: 30px;
  padding: 0.5rem 1rem;
  width: 10rem;
  font-family: "Montserrat", monospace;
  background-color: transparent;
  cursor: pointer;

  color: white;
  border: 2px dashed rgb(141, 141, 141);
}
.toggle-theme-button-dark:hover {
  background-color: #dfdfdf;
  color: rgb(0, 0, 0);
  border: 2px dashed rgb(49, 49, 49);
  transition: 500ms;
}

.main-title-container-dark {
  grid-row: 1;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b4b4b4;
  font-family: "Signika", monospace;
  font-size: 5rem;
}
.instructions-dark {
  color: rgb(184, 184, 184);
  font-size: 1.5rem;
  font-family: "Montserrat";
}
.main-body-container-dark {
  grid-row: 2;

  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-container-dark {
  grid-row: 1;
  height: 5rem;
  width: 30rem;
  border: 2px dashed white;
  color: white;
  font-family: "Montserrat", monospace;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 2rem 0rem;
}
.card-container-dark {
  grid-row: 2;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/*
/
/
/
/
LIGHT THEME
/
/
/
/
/
/
/
*/

.App-light {
  min-height: 100vh;
  min-width: 100vw;

  max-width: 100vw;
  display: grid;
  grid-template-rows: 10rem auto;

  background: #dbdbdb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #b4b4b4,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #b4b4b4,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.toggle-theme-button-light {
  position: absolute;
  left: 50px;
  top: 30px;
  padding: 0.5rem 1rem;
  width: 10rem;
  font-family: "Montserrat", monospace;
  background-color: transparent;
  cursor: pointer;

  color: rgb(0, 0, 0);
  border: 2px dashed rgb(49, 49, 49);
}
.toggle-theme-button-light:hover {
  background-color: black;
  color: rgb(196, 196, 196);
  border: 2px dashed rgb(219, 219, 219);
  transition: 500ms;
}
.main-title-container-light {
  grid-row: 1;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3b3b3b;
  font-family: "Signika", monospace;
  font-size: 5rem;
}

.instructions-light {
  color: rgb(66, 66, 66);
  font-size: 1.5rem;
  font-family: "Montserrat";
}

.main-body-container-light {
  grid-row: 2;

  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-container-light {
  grid-row: 1;
  height: 5rem;
  width: 30rem;
  border: 2px dashed rgb(53, 53, 53);
  color: rgb(0, 0, 0);
  font-family: "Montserrat", monospace;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 2rem 0rem;
}
.card-container-light {
  grid-row: 2;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
